<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" />
    <link rel="manifest" href="petstore.manifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/5aaf1e8901.js"
      crossorigin="anonymous"
    ></script>
    <script src="products.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <title>Kutte Billi store</title>
    <style>
      .product {
        border: 1px grey solid;
        padding: 20px;
        margin: 20px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="App">
      <h1 v-text="sitename"></h1>
      <button v-on:click="showCheckout">
        <i class="fa-solid fa-cart-shopping"></i> {{cartItemCount}} Checkout 🫡
      </button>
      <div v-if="showProduct">
        <div class="product" v-for="product in sortedProducts">
          <figure>
            <img v-bind:src="product.image" />
          </figure>
          <h2 v-text="product.title"></h2>
          <p v-html="product.description"></p>
          <p>Price: {{ product.price }}</p>
          <p>
            Available stock: {{product.availableInventory -
            cartCount(product.id)}}
          </p>
          <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">
            Add to Cart 👍
          </button>
          <!-- If it is 0 say All out -->
          <span v-if="product.availableInventory === cartCount(product.id)"
            >All Out!</span
          >
          <!--to give a message "Only _ left" if it is less than 5 we add conditionals, use span cause we want it side by side -->
          <span
            v-else-if="product.availableInventory - cartCount(product.id) < 5 "
          >
            Only {{product.availableInventory - cartCount(product.id)}} left!
          </span>
          <!-- Buy now message -->
          <span v-else>Buy Now!</span>
          <div>
            <span v-for="n in product.rating">★</span>
            <span v-for="n in 5-product.rating">☆</span>
          </div>
          <!-- <button disabled v-else>Add to cart</button> -->
        </div>
      </div>
      <div v-else>
        <h2>Checkout</h2>
        <p>
          <strong> First Name:</strong>
          <input v-model.trim="order.firstName" />
        </p>
        <p>
          <strong> Second Name:</strong>
          <input v-model.trim="order.lastName" />
        </p>

        <p>
          <strong>Address: </strong>
          <input v-model="order.address" />
        </p>
        <p><strong>City: </strong> <input v-model="order.city" /></p>
        <p>
          <strong>State</strong>
          <select v-model="order.state">
            <option disabled value="">State</option>
            <option v-for="(state, key) in states" v-bind:value="state">
              {{key}}
            </option>
          </select>
        </p>
        <p>
          <strong>Zip/Postal Code: </strong>
          <input v-model.number="order.zip" type="number" />
        </p>
        <p>
          <input
            type="checkbox"
            id="gift"
            value="true"
            v-model="order.gift"
            v-bind:true-value="order.sendGift"
            v-bind:false-value="order.dontSendGift"
          />
          <label for="gift">Ship as Gift?</label>
        </p>
        <p>
          <input type="radio" id="home" value="Home" v-model="order.method" />
          <label for="home">Home</label>
          <input
            type="radio"
            id="business"
            value="Business"
            v-model="order.method"
          />
          <label for="business">Business</label>
        </p>
        <h2>Order Information</h2>
        <p>First Name: {{order.firstName}}</p>
        <p>Last Name: {{order.lastName}}</p>
        <p>Address: {{order.address}}</p>
        <p>City: {{order.city}}</p>
        <p>State: {{order.state}}</p>
        <p>Zip: {{order.zip}}</p>
        <p>Gift?: {{order.gift}}</p>
        <p>Method: {{order.method}}</p>
        <button v-on:click="submitForm">Place Order</button>
      </div>
    </div>
    <script>
      let webstore = new Vue({
        el: "#App",
        data: {
          showProduct: true,
          sitename: "Vue.js Petting",
          products: products,
          cart: [],
          order: {
            firstName: "",
            lastName: "",
            address: "",
            city: "",
            zip: "",
            state: "",
            method: "Home",
            sendGift: "Send as a gift",
            dontSendGift: "Dont send mujhe kya",
          },
          states: {
            AL: "Alabama",
            AR: "Arizona",
            CA: "California",
            NV: "Nevada",
          },
        },
        methods: {
          addToCart(product) {
            this.cart.push(product.id);
          },
          showCheckout() {
            this.showProduct = this.showProduct ? false : true;
          },
          submitForm() {
            alert("Order submitted!");
          },
          canAddToCart(product) {
            return product.availableInventory > this.cartCount(product.id);
          },
          cartCount(id) {
            let count = 0;
            for (let i = 0; i < this.cart.length; i++) {
              if (this.cart[i] === id) {
                count++;
              }
            }
            return count;
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length || "";
          },
          // itemsLeft() {
          // return product.availableInventory - this.cartItemCount;
          //},
          sortedProducts() {
            let productsArray = this.products.slice(0);
            function compare(a, b) {
              if (a.price > b.price) return 1;
              if (a.price < b.price) return -1;
              return 0;
            }
            return productsArray.sort(compare);
          },
        },
      });
    </script>
  </body>
</html>
